.tinder_header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    align-content: center;
    display: flex;
    }


.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    padding: 20px;
}
.header_buttons{

  display: flex;
  float: right;
  margin-right: 20vw;
  margin-left: 62vw;
 
}

@media screen and (max-width: 600px) {
    .header_buttons a:not(:first-child) {display: none;}
    .header_buttons a.icon {
      float: right;
      display: block;
    }
  }
  

.header_list{
    display: flex;
    margin-top: 17px;

}